<div id='right_col_big'>

	<div class='white_r_block'>
		<div class='div_title_r'>ДЕТСКИЙ САД</div>
		<img alt="Детский сад" src="/images/kg.jpg"/>
		<div class='obor'> <%=link_to_unless_current 'Оборудование для детского сада',:controller=>:main, :action=>:kindergarden-%></div>
	</div>

	<div class='white_r_block'>
	<div class='div_title_r'>ШКОЛА</div>
	<img alt="Школа" src="/images/school.jpg"/>
	<div class='obor'> <%=link_to_unless_current 'Оборудование для школ',:controller=>:main, :action=>:school%></div>
	</div>

	<div class='white_r_block'>
	<div class='div_title_r'>ВУЗ, техникум</div>
	<img   alt="ВУЗ" src="/images/hschool.jpg"/>
	<div class='obor'> <%=link_to_unless_current 'Оборудование для ВУЗов и ПТУ',:controller=>:main, :action=>:highschool%></div>
	</div>

	</div>
	