313
	<div class='list_part'><img src='images/kg_1.jpg' alt='kg1' /><a href='#'>Медицинский кабинет</a></div>
		<div class='list_part'><img src='images/kg_2.jpg' alt='kg1' /><a href='#'>Информационные стенды</a></div>
		<div class='list_part'><img src='images/kg_3.jpg' alt='kg1' /><a href='#'>Мебель</a></div>
		<div class='list_part'><img src='images/kg_4.jpg' alt='kg1' /><a href='#'>Спортивно-игровое оборудование</a></div>
		<div class='list_part'><img src='images/kg_5.jpg' alt='kg1' /><a href='#'>Сенсорная комната</a></div>