<% @taxonomies.each do |taxonomy| %>
  <ul class="navigation-list">
	  <% taxonomy.root.children.each do |taxon| %>
	    <p><%= link_to taxon.name, seo_url(taxon) %></p>
	  <% end %>
	</ul>
<% end %>


